
body {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.container {
    max-width: 400px;
    margin: 50px auto;
    background: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1{
    color: #2575fc;
}
h3{
    color: #007bff;
}
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.form-group input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s ease;
}

.form-group input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}


.btn-primary {
    width: 100%;
    background: linear-gradient(45deg, #007bff, #0056b3);
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background: linear-gradient(45deg, #0056b3, #003d80);
    transform: scale(1.05);
}

a p {
    text-align: center;
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease;
}

a p:hover {
    color: #0056b3;
}

.alert {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}
.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}
